# Server
server/dist
server/node_modules
server/.env

# Client
client/dist
client/node_modules

# Shared
shared/dist
shared/node_modules

# Root
node_modules
.env

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
